<div class="wrapper">
  <div class="logo-container">
    <div class="logo-image">
      <a href="/index.html">
        <img id="logo" src="/src/assets/icons/foodexer-logo2.png" alt="FoodExer logo" width="50" height="50" />
      </a>
      <div class="logo-text"><span class="highlight">FoodExer</span></div>
    </div>

    <div class="navlinks">
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Site Map</a></li>
        <li><a href="#">Attributions</a></li>
      </ul>
      <button id="menu" aria-label="menu"></button>
    </div>
  </div>
</div>